canvas {
  border: 1px solid black;
  border-radius: 3%;

}

#cc-title {
  position: absolute;
  z-index: 100;
  top: -2%;
  left: 30%;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin: 4% 0;
}