canvas {
  border: 1px solid black;
  border-radius: 5px;

}

#cc-title {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 25%;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin: 4% 0;
}