* {
  margin: 0;
  overflow: hidden;
  background-image: url(/uploads/arbackground.png);
}

canvas {
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: 100%;
  background: transparent;

}

#wrapper {
  width: 100%;
  height: 100%;
}

.scoreText{
  z-index: 0;
}

#ball{
  z-index: 2;
}